@model List<Boat>

@{
    ViewData["Title"] = "Prochaine fermeture";
}

<div class="text-center">
    <h1 class="display-4">Prochaine fermeture du pont Chaban Delmas</h1>
    <p>Prochaine fermeture du pont Chaban Delmas.</p>
</div>